projet_xml/WebContent/wsdl/Group.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://classe" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://classe" xmlns:intf="http://classe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://classe" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNameResponse">
    <complexType/>
   </element>
   <element name="getMembers">
    <complexType/>
   </element>
   <element name="getMembersResponse">
    <complexType>
     <sequence>
      <element name="getMembersReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="setMembers">
    <complexType>
     <sequence>
      <element name="members" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMembersResponse">
    <complexType/>
   </element>
   <element name="deleteFriend">
    <complexType>
     <sequence>
      <element name="f" type="impl:Friend"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Friend">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="groups" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="mail" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deleteFriendResponse">
    <complexType/>
   </element>
   <element name="addFriend">
    <complexType>
     <sequence>
      <element name="f" type="impl:Friend"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFriendResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameRequest">

      <wsdl:part element="impl:setName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMembersResponse">

      <wsdl:part element="impl:setMembersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMembersRequest">

      <wsdl:part element="impl:getMembers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMembersResponse">

      <wsdl:part element="impl:getMembersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameResponse">

      <wsdl:part element="impl:setNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFriendResponse">

      <wsdl:part element="impl:deleteFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFriendResponse">

      <wsdl:part element="impl:addFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFriendRequest">

      <wsdl:part element="impl:deleteFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMembersRequest">

      <wsdl:part element="impl:setMembers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFriendRequest">

      <wsdl:part element="impl:addFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Group">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdl:input message="impl:setNameRequest" name="setNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNameResponse" name="setNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMembers">

         <wsdl:input message="impl:getMembersRequest" name="getMembersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMembersResponse" name="getMembersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMembers">

         <wsdl:input message="impl:setMembersRequest" name="setMembersRequest">

       </wsdl:input>

         <wsdl:output message="impl:setMembersResponse" name="setMembersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFriend">

         <wsdl:input message="impl:deleteFriendRequest" name="deleteFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFriendResponse" name="deleteFriendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFriend">

         <wsdl:input message="impl:addFriendRequest" name="addFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFriendResponse" name="addFriendResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GroupSoapBinding" type="impl:Group">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMembers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMembersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMembersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMembers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMembersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setMembersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GroupService">

      <wsdl:port binding="impl:GroupSoapBinding" name="Group">

         <wsdlsoap:address location="http://localhost:8080/projet_xml/services/Group"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
