projet_xml/WebContent/wsdl/ListUserID.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://classe" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://classe" xmlns:intf="http://classe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://classe" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="setData">
    <complexType>
     <sequence>
      <element name="data" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDataResponse">
    <complexType/>
   </element>
   <element name="getData">
    <complexType/>
   </element>
   <element name="getDataResponse">
    <complexType>
     <sequence>
      <element name="getDataReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataRequest">

      <wsdl:part element="impl:getData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDataResponse">

      <wsdl:part element="impl:getDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDataResponse">

      <wsdl:part element="impl:setDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDataRequest">

      <wsdl:part element="impl:setData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ListUserID">

      <wsdl:operation name="setData">

         <wsdl:input message="impl:setDataRequest" name="setDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDataResponse" name="setDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getData">

         <wsdl:input message="impl:getDataRequest" name="getDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDataResponse" name="getDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ListUserIDSoapBinding" type="impl:ListUserID">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ListUserIDService">

      <wsdl:port binding="impl:ListUserIDSoapBinding" name="ListUserID">

         <wsdlsoap:address location="http://localhost:8080/projet_xml/services/ListUserID"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
